{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Log In" %}{% endblock %}

{% block content %}
<div class="container mb-5 mx-0 px-0">
    <div class="row text-center justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 mt-5 px-3">
            <h1 class="mb-3">{% trans "Log In" %}</h1>
                <p>{% blocktrans %}Welcome back to Eternity!
                  <br>
                  Please log in.
                  <br>
                  If you have not created an account yet, <a class="link" href="{{ signup_url }}">Register</a> first.{% endblocktrans %}</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-6 offset-lg-3 my-3">
                <form class="login" method="POST" action="{% url 'account_login' %}"> 
                    {% csrf_token %} 
                    {{ form.as_p }} 
                    {% if redirect_field_value %} 
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"> 
                    {% endif %}
                    <button class="btn btn-account my-3" type="submit">{% trans "Log In" %}</button>
                </form>
                <a class="btn text-center password-reset link mb-5 mx-2" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </div>
        </div>
    </div>
{% endblock content %}
