{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock head_title %}

{% block content %}

<div class="container mb-5 mx-0 px-0">
    <div class="row text-center justify-content-center px-3">
        <div class="col-12 col-md-10 col-lg-8 mt-5">
            <h1 class="mb-3">{% trans "Password Reset" %}</h1>
            
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
        </div>
        <p>{% blocktrans %}We have sent you an email.
            <br>
            If you have not received it please check your spam folder. 
            <br>
            Otherwise contact us via email at: <a class="link" href="mailto:eternitywatchstore0@gmail.com">eternitywatchstore0@gmail.com</a> if you do not receive it in a few minutes.{% endblocktrans %}</p>
    </div>
</div>
{% endblock content %}
