{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}
<div class="container mb-5 mx-0 px-0">
    <div class="row text-center justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 mt-5 px-3">
            <h1 class="mb-3">{% trans "Change Password" %}</h1>
                <p>{% trans 'Your password is now changed.' %}</p>
                <a href="{% url 'account_login' %}" class="btn btn-account my-3">Log In</a>
        </div>
    </div>
</div>
{% endblock content %}
