{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock head_title %}

{% block content %}

<div class="container mb-5 mx-0 px-0">
    <div class="row text-center justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 mt-5 px-3">
            <h1 class="mb-3">{% trans "Password Reset" %}</h1>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>{% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}</p>

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset my-3 text-center">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="{% trans 'Reset My Password' %}" class="btn-account btn-reset my-3"/>
            </form>
        </div>
        <p class="my-3 text-center"><small>{% blocktrans %}*Please contact us via email at: <a class="link" href="mailto:eternitywatchstore0@gmail.com">eternitywatchstore0@gmail.com</a>  if you have any trouble resetting your password.{% endblocktrans %}</small></p>
    </div>
</div>
{% endblock content %}