{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock head_title %}

{% block content %}
<div class="container mb-5 mx-0 px-0">
    <div class="row text-center justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 mt-5 px-3">
            <h1 class="mb-3">{% trans "Sign Up Closed" %}</h1>

                <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
        </div>
    </div>
</div>
{% endblock content %}
