{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your Email Address" %}{% endblock head_title %}

{% block content %}
<div class="container mb-5 mx-0 px-0">
    <div class="row text-center justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 mt-5 px-3">
            <h1 class="mb-3">{% trans "Verify Your Email Address" %}</h1>
            <p>
                {% blocktrans %}We have sent an email to you for verification.
                <br>
                Follow the link provided to finalise the signup process.
                <br>
                If you do not see the verification email in your main inbox, check your spam folder. 
                <br>
                <br>
                Please contact us via email at: <a class="link" href="mailto:eternitywatchstore0@gmail.com">eternitywatchstore0@gmail.com</a> if you do not receive the verification email within a few minutes.
                {% endblocktrans %}
            </p>
        </div>
    </div>
</div>

{% endblock content %}
