{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% load humanize %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="h1 text-center mt-4">Cart</h1>
        </div>
    </div>
    <div class="row">
        {% if cart_items %}
        <div class="col-12 px-0 px-sm-2 px-lg-5">
            <!-- Cart items table here -->
            <table class="table cart-table">
                <thead>
                    <tr>
                        <th scope="col" class="text-center d-none d-sm-block">Item</th>
                        <th scope="col"></th>
                        <th scope="col" class="d-none d-sm-block">Subtotal</th>
                    </tr>
                </thead>
                {% for item in cart_items %}
                    <tr>
                        <td class="img-col p-0 w-25">
                            <a href="{% url 'product_page' item.product.id %}">
                                <img class="img-fluid cart-img" src="{{ item.product.image.url }}">
                            </a>
                        </td>
                        <td class="py-0">
                            <a href="{% url 'product_page' item.product.id %}" style="text-decoration: none;">
                                <p class="my-0 py-0 product-name-wrap">{{ item.product.name }}</p>
                            </a>
                            <p class="d-none d-sm-block my-0">SKU: {{ item.product.sku|upper }}</p>
                            <p class="my-0">€{{ item.product.price|intcomma }}</p>
                            <!-- Adjusted form for quantity update with plus and minus buttons -->
                            <form class="form update-form" method="POST" action="{% url 'adjust_cart' item.product.id %}">
                                {% csrf_token %}
                                <div class="form-row align-items-center">
                                    <div class="col-12">
                                        <div class="col w-25 mt-2">
                                            <div class="d-flex">
                                                <button type="button" class="decrement-qty btn px-1 mb-1" data-item_id="{{ item.product.id }}">
                                                    <iconify-icon icon="heroicons-outline:minus" style="color: #e4c58a"></iconify-icon>
                                                </button>
                                                <input class="form-control qty_input text-center mx-2" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="10" id="id_qty_{{ item.product.id }}" style="width: 60px;">
                                                <button type="button" class="increment-qty btn px-1 mb-1" data-item_id="{{ item.product.id }}">
                                                    <iconify-icon icon="heroicons-outline:plus" style="color: #e4c58a"></iconify-icon>
                                                </button>
                                            </div>
                                            <div class="d-flex justify-content-between justify-content-md-center px-0">
                                                <a class="remove-item" style="text-decoration: none;" data-item_id="{{ item.product.id }}">
                                                    <small>Remove</small>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </td>
                        <td class="py-3 d-none d-sm-block">
                            <p class="my-0">€{{ item.product.price | calc_subtotal:item.quantity | intcomma }}</p>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="5" class="pt-5 px-2 px-md-4 px-lg-5 text-start text-sm-end">
                        <p class="mb-0"><strong>Order Summary:</strong></p>
                        <p class="mb-1"><small>Subtotal: €{{ total|floatformat:2|intcomma }}</small></p>
                        <p class="mb-1"><small>Delivery: €{{ delivery|floatformat:2|intcomma }}</small></p>
                        <p class="mt-4"><strong>Total: €{{ grand_total|floatformat:2|intcomma }}</strong></p>
                    </td>
                </tr>
            </table>
            <div class="d-flex justify-content-center my-3 mx-0 mx-sm-3">
                <a href="{% url 'shop' %}" class="btn btn-cart">
                    <iconify-icon icon="typcn:arrow-back" style="color: #e4c58a" aria-hidden="true"></iconify-icon>
                    Back to Shop
                </a>
                <a href="{% url 'checkout' %}" class="btn btn-cart">
                    <iconify-icon icon="material-symbols:lock"  style="color: #e4c58a"></iconify-icon>
                    Checkout
                </a>
            </div>
        </div>
    {% else %}
    <div class="d-flex justify-content-center align-items-start">
        <div class="text-center">
            <p class="my-5">Your cart is empty.</p>
            <a href="{% url 'shop' %}" class="btn btn-cart">
                <iconify-icon icon="typcn:arrow-back" style="color: #e4c58a" aria-hidden="true"></iconify-icon>
                Back to Shop
            </a>
        </div>
    </div>
    {% endif %}
</div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">

    // Increment quantity and submit the form
    document.querySelectorAll('.increment-qty').forEach(function(button) {
        button.addEventListener('click', function() {
            // Get the previous sibling (quantity input)
            const qtyInput = button.previousElementSibling;
            let currentValue = parseInt(qtyInput.value);
            if (currentValue < 10) {
                qtyInput.value = currentValue + 1;
                // Submit the form automatically after updating the quantity
                button.closest('form').submit();
            } else {
                // Display a message if the quantity is more than 10
                alert("You cannot add more than 10 items.");
            }
        });
    });

    // Decrement quantity and submit the form
    document.querySelectorAll('.decrement-qty').forEach(function(button) {
        button.addEventListener('click', function() {
            // Get the next sibling (quantity input)
            const qtyInput = button.nextElementSibling;
            let currentValue = parseInt(qtyInput.value);
            if (currentValue > 1) {
                qtyInput.value = currentValue - 1;
                // Submit the form automatically after updating the quantity
                button.closest('form').submit();
            }
        });
    });

    /**
     *  Handle item removal
     * Source: Code Institute Boutique Ado walk through
     */
    $('.remove-item').click(function(e) {
        // Prevent the default action
        e.preventDefault();
        
        // Get the CSRF token
        var csrfToken = "{{ csrf_token }}";
        // Extract the item ID from the data attribute
        var itemId = $(this).data('item_id');

        // Build the URL for the removal action
        var url = `/cart/remove/${itemId}/`;
        // Prepare the data to be sent with the POST request
        var data = {'csrfmiddlewaretoken': csrfToken};

        // Perform the POST request to remove the item
        $.post(url, data)
        .done(function() {
            // Reload the page after the request completes
            location.reload();
        })
        .fail(function() {
            alert('Error removing item from cart.');
        });
    });
</script>
{% endblock %}