{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 above-fold">
            <div class="col-12 col-sm-6">
                <h1 class="home-h1 text-outline mt-4">
                    Eternity Luxury Watch Store
                </h1>
            </div>
            <div>
                <a href="{% url 'shop' %}" class="btn btn-explore py-1 px-2 mt-4">Explore</a>
            </div>
        </div>
    </div>
</div>

    <div class="popular-products">
        <h2>Check our collection</h2>
    </div>

{% endblock %}