{% extends "base.html" %}
{% load static %}
{% load cart_tools %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="h1 text-center mt-4">Checkout</h1>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-end me-5 p-0">
            <a href="{% url 'view_cart' %}" class="btn btn-back-to-shop text-decoration-underline m-0 p-1 p-sm-4 p-md-5">
                <iconify-icon icon="typcn:arrow-back" style="color: #e4c58a" aria-hidden="true"></iconify-icon>
                Edit Cart
            </a>
        </div>
        <div class="col-12 col-lg-6 order-lg-last mb-5 p-3 px-sm-4 px-md-5">
            <div class="d-flex justify-content-start">
                <h2 class="mb-0 fs-5">Order Summary ({{ product_count }})</h2>
            </div>
            <div class="row mt-3">
                <div class="col-6 offset-2">
                    <p class="mb-1 mt-0 px-0"><strong>Item</strong></p>
                </div>
                <div class="col-4 text-end">
                    <p class="mb-1 mt-0 px-0"><strong>Subtotal</strong></p>
                </div>
                <hr>
            </div>
            {% for item in cart_items %}
            <div class="row">
                <div class="col-2 my-2">
                    <a href="{% url 'product_page' item.product.id %}">
                        {% if item.product.image %}
                            <img class="w-100" src="{{ item.product.image.url }}" alt="View details for {{ item.product.name }}">
                        {% else %}
                            <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="No image available for {{ item.product.name }}">
                        {% endif %}
                    </a>
                </div>
                <div class="col-7 p-0 p-xs-2">
                    <a href="{% url 'product_page' item.product.id %}" style="text-decoration: none;">
                        <p class="my-0 px-1"><small>{{ item.product.name }}</small></p>
                    </a>
                    <p class="my-0 px-0 item-quantity"><small>Qty: {{ item.quantity }}</small></p>
                </div>
                <div class="col-3 px-0 p-xs-1 p-sm-2 text-end">
                    <p class="my-0"><small>€{{ item.product.price | calc_subtotal:item.quantity | intcomma }}</small></p>
                </div>
            </div>
            {% endfor %}
            <!-- Hidden input to store the total product count for use in JavaScript -->
            <input type="hidden" id="product-count" value="{{ product_count }}">
            <hr class="my-0">
            <div class="row text-end">
                <div class="col-7 offset-1 offset-sm-2">
                    <p class="my-0">Order Total:</p>
                    <p class="my-0">Delivery:</p>
                    <p class="my-0">Add-ons:</p>
                    <hr>
                    <h5 class="my-2"><strong>Grand Total:</strong></h5>
                </div>
                <div class="col-4 col-sm-3">
                    <input type="hidden" id="cart-weight" value="{{ cart_weight }}">
                    <p class="my-0"><span id="initial-total">€{{ total|floatformat:2|intcomma }}</span></p>
                    <p class="my-0"><span id="delivery-cost">€{{ delivery|floatformat:2|intcomma }}</span></p>
                    <p class="my-0">
                        <span id="add-ons">€0.00</span>
                    </p>
                    <hr>
                    <h5 class="my-2"><span id="grand-total-summary"><strong>€{{ grand_total|floatformat:2|intcomma }}</strong></span></h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 px-3 align-items-center">
            <div class="d-flex justify-content-center">
                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    {% if not user.is_authenticated %}
                    <div class="text-center px-2">
                        <p class="fs-6">Have an account?
                        <br>
                        <a class="text-info" href="{% url 'account_login' %}?next={{ request.path }}">Login</a> to prefill your details or
                        <a class="text-info" href="{% url 'account_signup' %}">register</a></p>
                    </div>
                    {% endif %}
                    <h5 class="px-2 text-center text-lg-start">Customer Details</h5>
                    <fieldset class="rounded px-3 mb-5 d-flex flex-column align-items-center">
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                        {{ order_form.phone_number | as_crispy_field }}
                    </fieldset>
                    <h5 class="px-2 text-center text-lg-start">Delivery Details</h5>
                    <fieldset class="rounded px-3 mb-5 d-flex flex-column align-items-center">
                        <div class="select-container">
                        {{ order_form.country | as_crispy_field }}
                        </div>
                        {{ order_form.street_address1 | as_crispy_field }}
                        {{ order_form.street_address2 | as_crispy_field }}
                        {{ order_form.town_or_city | as_crispy_field }}
                        {{ order_form.county | as_crispy_field }}
                        {{ order_form.postcode | as_crispy_field }}
                        <div class="form-check form-check-inline float-end me-0">
                            {% if user.is_authenticated %}
                            <input class="form-check-input me-2 mt-1" type="checkbox" id="id-save-info" name="save-info" checked>
                            <label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                            {% endif %}
                        </div>
                    </fieldset>
                    <h5 class="px-2 text-center text-lg-start">Delivery Method</h5>
                    <fieldset class="rounded mb-5 ps-5 py-1 align-items-start">
                        <div id="delivery-methods">
                            {% for method in order_form.fields.delivery_method.queryset %}
                                <div>
                                    <input type="radio" name="delivery_method" id="delivery_method_{{ method.pk }}" value="{{ method.pk }}" data-rate="{{ method.rate }}" {% if method.name == "Standard: 5-10 days" %} data-standard="true" {% endif %}>
                                    <label for="delivery_method_{{ method.pk }}" class="mb-3">{{ method.name }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </fieldset>
                    <!-- Add-ons -->
                    <div class="mb-3">
                        <h5 class="px-2 text-center text-lg-start">Add-ons</h5>
                        <div class="add-ons">
                            {% if add_ons %}
                                {% for add_on in add_ons %}
                                    <div class="text-start ps-5">
                                        <input type="checkbox" class="form-check-input mt-1" value="{{ add_on.id }}" data-price="{{ add_on.price }}" name="add_ons" id="addon{{ add_on.id }}">
                                        <label class="mb-3" for="addon{{ add_on.id }}">
                                            {{ add_on.name }}
                                            <br>
                                            <small>(+€{{ add_on.price|intcomma }} per item)</small>
                                        </label>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p>No add-ons available.</p>
                            {% endif %}
                        </div>
                    </div>
                    <p class="mb-5 text-center">Your card will be charged <span id="grand-total-payment"><strong>€{{ grand_total|floatformat:2 | intcomma }}</strong></span></p>
                    <h5 class="px-2 text-center text-lg-start">Payment</h5>
                    <fieldset class="rounded px-3 mb-1 d-flex flex-column align-items-center">
                        <!-- A Stripe card element will go here -->
                        <div class="pt-2" id="card-element"></div>

                        <!-- Used to display form errors -->
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                        <!-- Pass the client secret to the view to get the payment intent id -->
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </fieldset>
                    <div class="submit-button text-end my-2 d-flex flex-column align-items-center">
                        <button id="submit-button" class="btn btn-cart my-2">Complete Order</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="loading-overlay">
    <h1 class="loading-spinner text-center">The payment is being processed, please wait.
        <br>
        <span>
            <iconify-icon icon="svg-spinners:tadpole"  style="color: #e4c58a"></iconify-icon>
        </span>
    </h1>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/grand_total_calculation.js' %}"></script>
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}