{% extends "base.html" %}
{% load static %}

{% load humanize %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Thank you message -->
        <div class="col-12">
            <div class="thank-you col-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2 text-center">
                <h1 class="h1 text-center mt-4">Thank you, {{ order.full_name }}!</h1>
                <p>Your order has been successfully processed!</p>
                <p>Order number: <strong>{{ order.order_number }}</strong>.</p>
                <p>Order date: {{ order.date }}</p>
                <p>A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
            </div>
        </div>
        
        <!-- Order Summary -->
        <div class="col order-summary">
            <div class="col-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2">
                <div class="order-confirmation-wrapper p-2 border text-center text-md-start mx-1 mx-sm-3 my-5">
                    {% for item in order.lineitems.all %}
                    <div class="row mb-5">
                        <div class="col-12 col-md-6">
                            <p class="small mb-0">
                                {{ item.product.name }}
                            </p>
                            <a href="{% url 'product_page' item.product.id %}">
                                <img class="w-50" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                            </a>
                        </div>
                        <div class="col-12 col-md-6 text-md-end">
                            <p class="small mb-0">{{ item.quantity }} @ €{{ item.product.price }} each</p>
                        </div>
                    </div>
                    {% endfor %}
                    <hr>
                    <!-- Totals and details sections -->
                    <div class="row">
                        <div class="col-6 col-md-4 text-start">
                            <p class="mb-0">Order Total:</p>
                        </div>
                        <div class="col-6 col-md-8 text-end">
                            <p class="mb-0">€{{ order.order_total }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 col-md-4 text-start">
                            <p class="mb-0">Delivery:</p>
                        </div>
                        <div class="col-6 col-md-8 text-end">
                            <p class="mb-0">€{{ order.delivery_cost }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 col-md-4 text-start">
                            <p class="mb-0">Add-ons:</p>
                        </div>
                        <div class="col-6 col-md-8 text-end">
                            <p class="mb-0">€{{ order.add_ons_cost }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 col-md-4 text-start">
                            <p class="mb-0 fw-bold">Grand Total:</p>
                        </div>
                        <div class="col-6 col-md-8 text-end">
                            <p class="mb-0">€{{ order.grand_total }}</p>
                        </div>
                    </div>

                    <hr>
                    <div class="row">
                        <div class="col">
                            <p class="text-center"><strong>Delivery Address:</strong></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 col-md-4 text-start">
                            <p class="mb-0">Full Name:</p>
                        </div>
                        <div class="col-6 col-md-8 text-end">
                            <p class="mb-0">{{ order.full_name }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 col-md-4 text-start">
                            <p class="mb-0">Address 1:</p>
                        </div>
                        <div class="col-6 col-md-8 text-end">
                            <p class="mb-0">{{ order.street_address1 }}</p>
                        </div>
                    </div>

                    {% if order.street_address2 %}
                    <div class="row">
                        <div class="col-6 col-md-4 text-start">
                            <p class="mb-0">Address 2:</p>
                        </div>
                        <div class="col-6 col-md-8 text-end">
                            <p class="mb-0">{{ order.street_address2 }}</p>
                        </div>
                    </div>
                    {% endif %}

                    {% if order.county %}
                    <div class="row">
                        <div class="col-6 col-md-4 text-start">
                            <p class="mb-0">County:</p>
                        </div>
                        <div class="col-6 col-md-8 text-end">
                            <p class="mb-0">{{ order.county }}</p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-6 col-md-4 text-start">
                            <p class="mb-0">Town or City:</p>
                        </div>
                        <div class="col-6 col-md-8 text-end">
                            <p class="mb-0">{{ order.town_or_city }}</p>
                        </div>
                    </div>

                    {% if order.postcode %}
                    <div class="row">
                        <div class="col-6 col-md-4 text-start">
                            <p class="mb-0">Postal Code:</p>
                        </div>
                        <div class="col-6 col-md-8 text-end">
                            <p class="mb-0">{{ order.postcode }}</p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-6 col-md-4 text-start">
                            <p class="mb-0">Country:</p>
                        </div>
                        <div class="col-6 col-md-8 text-end">
                            <p class="mb-0">{{ order.country }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 col-md-4 text-start">
                            <p class="mb-0">Phone Number:</p>
                        </div>
                        <div class="col-6 col-md-8 text-end">
                            <p class="mb-0">{{ order.phone_number }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Conditional back button section -->
        {% if from_profile %}
        <div class="row mx-0">
            <div class="col-12 d-flex justify-content-center mb-5">
                <a href="{% url 'profile' %}" class="btn btn-profile">
                    <span class="text-uppercase">Back to Profile</span>
                </a>
            </div>
        </div>
        {% else %}
        <div class="row mx-0">
            <div class="col-12 d-flex justify-content-center mb-5">
                <a href="{% url 'shop' %}" class="btn btn-profile">
                    <span class="text-uppercase">Back to Shop</span>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
