<form method="GET" action="{% url 'shop' %}">
    <div class="row d-flex flex-column flex-sm-row justify-content-between align-items-start align-items-sm-center my-3 my-lg-5">
        <!-- Filter and Sort Section -->
        <div class="col-12 d-flex justify-content-center p-1 p-sm-2">
            <nav class="category-menu">
                <ul class="navbar-nav d-flex flex-row mx-auto gap-1 gap-sm-2 gap-lg-4 align-items-center">
                    <!-- Brand Dropdown -->
                    <li class="nav-item dropdown filters-menu mx-sm-3 mx-md-4 mx-lg-5">
                        <a class="nav-link dropdown-toggle py-1 px-2 px-md-4" href="#" id="brand" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Brand </a>
                        <ul class="dropdown-menu border-0" aria-labelledby="brand">
                            <li>
                                <a href="{% url 'shop' %}?brand=citizen{% if current_gender %}&gender={{ current_gender }}{% endif %}{% if sort %}&sort={{ sort }}{% endif %}{% if direction %}&direction={{ direction }}{% endif %}" class="dropdown-item">Citizen</a>
                            </li>
                            <li>
                                <a href="{% url 'shop' %}?brand=frederique_constant{% if current_gender %}&gender={{ current_gender }}{% endif %}{% if sort %}&sort={{ sort }}{% endif %}{% if direction %}&direction={{ direction }}{% endif %}" class="dropdown-item">Frederique Constant</a>
                            </li>
                            <li>
                                <a href="{% url 'shop' %}?brand=hamilton{% if current_gender %}&gender={{ current_gender }}{% endif %}{% if sort %}&sort={{ sort }}{% endif %}{% if direction %}&direction={{ direction }}{% endif %}" class="dropdown-item">Hamilton</a>
                            </li>
                            <li>
                                <a href="{% url 'shop' %}?brand=seiko{% if current_gender %}&gender={{ current_gender }}{% endif %}{% if sort %}&sort={{ sort }}{% endif %}{% if direction %}&direction={{ direction }}{% endif %}" class="dropdown-item">Seiko</a>
                            </li>
                            <li>
                                <a href="{% url 'shop' %}?brand=tissot{% if current_gender %}&gender={{ current_gender }}{% endif %}{% if sort %}&sort={{ sort }}{% endif %}{% if direction %}&direction={{ direction }}{% endif %}" class="dropdown-item">Tissot</a>
                            </li>
                        </ul>
                    </li>
                    <!-- Gender Dropdown -->
                    <li class="nav-item dropdown filters-menu mx-sm-3 mx-md-4 mx-lg-5">
                        <a class="nav-link dropdown-toggle py-1 px-2 px-md-4" href="#" id="gender" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Gender </a>
                        <ul class="dropdown-menu border-0" aria-labelledby="gender">
                            <li>
                                <a href="{% url 'shop' %}?gender=men{% if current_brand %}&brand={{ current_brand }}{% endif %}{% if sort %}&sort={{ sort }}{% endif %}{% if direction %}&direction={{ direction }}{% endif %}" class="dropdown-item">Men</a>
                            </li>
                            <li>
                                <a href="{% url 'shop' %}?gender=women{% if current_brand %}&brand={{ current_brand }}{% endif %}{% if sort %}&sort={{ sort }}{% endif %}{% if direction %}&direction={{ direction }}{% endif %}" class="dropdown-item">Women</a>
                            </li>
                        </ul>
                    </li>
                    <!-- Sort by Dropdown -->
                    <li class="nav-item dropdown filters-menu mx-sm-3 mx-md-4 mx-lg-5">
                        <a class="nav-link dropdown-toggle py-1 px-2 px-md-4" href="#" id="sort" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Sort by </a>
                        <ul class="dropdown-menu border-0" aria-labelledby="sort">
                            <li>
                                <a href="{% url 'shop' %}?sort=price&direction=asc{% if current_brand %}&brand={{ current_brand }}{% endif %}{% if current_gender %}&gender={{ current_gender }}{% endif %}" class="dropdown-item">Price (low to high)</a>
                            </li>
                            <li>
                                <a href="{% url 'shop' %}?sort=price&direction=desc{% if current_brand %}&brand={{ current_brand }}{% endif %}{% if current_gender %}&gender={{ current_gender }}{% endif %}" class="dropdown-item">Price (high to low)</a>
                            </li>
                            <li>
                                <a href="{% url 'shop' %}?sort=rating&direction=desc{% if current_brand %}&brand={{ current_brand }}{% endif %}{% if current_gender %}&gender={{ current_gender }}{% endif %}" class="dropdown-item">Rating (high to low)</a>
                            </li>
                            <li>
                                <a href="{% url 'shop' %}?sort=rating&direction=asc{% if current_brand %}&brand={{ current_brand }}{% endif %}{% if current_gender %}&gender={{ current_gender }}{% endif %}" class="dropdown-item">Rating (low to high)</a>
                            </li>
                            <li>
                                <a href="{% url 'shop' %}?sort=name&direction=asc{% if current_brand %}&brand={{ current_brand }}{% endif %}{% if current_gender %}&gender={{ current_gender }}{% endif %}" class="dropdown-item">Name (A-Z)</a>
                            </li>
                            <li>
                                <a href="{% url 'shop' %}?sort=name&direction=desc{% if current_brand %}&brand={{ current_brand }}{% endif %}{% if current_gender %}&gender={{ current_gender }}{% endif %}" class="dropdown-item">Name (Z-A)</a>
                            </li>
                        </ul>
                    </li>
                    <!-- Reset button -->
                    <li class="nav-item dropdown filters-menu mx-sm-3 mx-md-4 mx-lg-5">
                        <a class="nav-link py-1 px-4" id="reset" href="{% url 'shop' %}" class="nav-link">Reset</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</form>

<!-- Display Active Filters -->
<div class="active-filters my-3"> 
    {% if brand_friendly_name or gender_friendly_name or current_sorting %}
        <p>
            <!-- Brand Filter --> 
            {% if brand_friendly_name %}
                <span><strong>Brand:</strong> {{ brand_friendly_name }}</span>
                {% if gender_friendly_name or current_sorting %}, {% endif %}
            {% endif %}

            <!-- Gender Filter --> 
            {% if gender_friendly_name %}
                <span><strong>Gender:</strong> {{ gender_friendly_name }}</span>
                {% if current_sorting %}, {% endif %}
            {% endif %}

            <!-- Sorting Filter (only show if sorting is applied) -->
            {% if current_sorting %}
                <span><strong>Sorted by:</strong> 
                    {% if current_sorting == 'price_asc' %}
                        Price (low to high)
                    {% elif current_sorting == 'price_desc' %}
                        Price (high to low)
                    {% elif current_sorting == 'rating_asc' %}
                        Rating (low to high)
                    {% elif current_sorting == 'rating_desc' %}
                        Rating (high to low)
                    {% elif current_sorting == 'name_asc' %}
                        Name (A-Z)
                    {% elif current_sorting == 'name_desc' %}
                        Name (Z-A)
                    {% endif %}
                </span>
            {% endif %}
        </p>
    {% endif %}
</div>

<!-- Products Count -->
<div class="col-12">
    <p class="products-count mt-3 fs-4">
        {{ products|length }} Products
        {% if search_term %}
            found for <strong>"{{ search_term }}"</strong>
        {% endif %}
    </p>
</div>
