{% load static %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

{% load humanize %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% block meta %}
            <!-- Essential Meta Tags -->
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}

        {% block extra_meta %}{% endblock %}

        <!-- Meta Tags for Search Engine Optimization -->
        <meta name="description" content="Eternity Luxury Watch Store offers a curated selection of
        high-quality, affordable luxury watches, including popular men's and women's luxury watches.
        Shop from top luxury watch brands and timeless designs, ensuring you find the perfect timepiece
        for your style and budget.">
        <meta name="keywords" content="luxury watch, luxury watches, men's luxury watches, 
        luxury watch brands, affordable luxury watches, luxury watch store, high-quality watches,
        branded watches, elegant watches, timeless designs, popular luxury watches, online watch shopping, 
        luxury timepieces, watch sales online, luxury watches for men, luxury watches for women, affordable 
        luxury watch brands, best affordable luxury watches, men's luxury watches cheap, best cheap luxury
        watches, cheap luxury watch brands, luxury watch brands cheap, luxury watches for men cheap,
        cheap luxury watches for men, luxury watches cheap, cheap luxury watches, luxury watches for cheap">

        <!-- Browser Tab Title -->
        <title>Eternity | Luxury Watch Store {% block extra_title %}{% endblock %}</title>

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'images/favicons/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'images/favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
        <link rel="shortcut icon" href="{% static 'images/favicons/favicon.ico' %}">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="{% static 'images/favicons/browserconfig.xml' %}">
        <meta name="theme-color" content="#ffffff">

        {% block corecss %}
            <!-- Bootstrap CSS -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
                integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

            <!-- Google Fonts CSS -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Antic&family=Cormorant+Unicase:wght@300;400;500;600;700&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" 
                rel="stylesheet">

            <!-- Mailchimp CSS -->
            <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">

            <!-- CSS -->
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% endblock %}

        {% block extra_css %}{% endblock %}

        <!-- Meta Tags for Social Sharing -->
        <meta property="og:title" content="Eternity | Luxury Watch Store">
        <meta property="og:description" content="Eternity Luxury Watch Store offers a curated selection
            of high-quality, affordable luxury watches.">
        <meta property="og:image" content="{% static 'images/logo/logo.webp' %}">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
        <meta property="og:url" content="https://eternity-watch-store-1f855f4289ad.herokuapp.com/">
        <meta property="og:type" content="website">
        
        {% block corejs %}
            <!-- IconifyIcon web component -->
            <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

            <!-- JavaScript -->
            <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
                integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

            <!-- Stripe -->
            <script src="https://js.stripe.com/v3/"></script>
        {% endblock %}

        {% block extra_js %}{% endblock %}
    </head>
    <body>
        <!-- Header -->
        <header class="container-fluid sticky-top pt-2 pb-3">
            <div class="d-flex justify-content-between align-items-start">
                <!-- Menu Section-->
                <nav class="navbar navbar-expand-md mt-lg-1 px-3 px-lg-2 pb-0">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto pl-3">
                            <li class="nav-item">
                                <a class="nav-link menu {% if request.path == '/' %}active{% endif %}" href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link menu {% if request.path == '/shop/' %}active{% endif %}" href="{% url 'shop' %}">Shop</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link menu {% if request.path == '/contact/' %}active{% endif %}" href="{% url 'contact' %}">Contact</a>
                            </li>
                        </ul>
                        <!-- Authentication messages mobile-->
                        <div class="d-block d-md-none">
                            {% if user.is_authenticated %}
                            <p class="fs-6 pt-2 pb-0 px-0 mb-2 auth-mob">*You are logged in as {{ user }}</p>
                            {% else %}
                            <p class="fs-6 pt-2 pb-0 px-0 mb-2 auth-mob">*You are not logged in</p>
                            {% endif %}
                        </div>
                    </div>
                </nav>

                <!-- Logo Section -->
                <div class="logo-container flex-column align-items-start my-0">
                    <div class="logo-container">
                        <a class="navbar-brand mx-3" href="{% url 'home' %}">
                            <img src="{% static 'images/logo/logo.webp' %}" alt="Eternity Logo" class="img-logo">
                        </a>
                    </div>
                </div>

                <!-- Header Icons Section-->
                <div class="d-flex flex-column align-items-end my-0">
                    <!-- Authentication messages desktop -->
                    <div class="auth d-none d-md-block">
                        {% if user.is_authenticated %}
                        <p class="auth text-end fs-6 my-0">You are logged in as {{ user }}</p>
                        {% else %}
                        <p class="auth text-end fs-6 my-0">You are not logged in</p>
                        {% endif %}
                    </div>
                    <ul class="header-icons d-flex flex-row mx-1">
                        <!-- Cart -->
                        <li class="list-inline-item cart mx-0">
                            <a class="nav-link" href="{% url 'view_cart' %}">
                                <div class="text-center">
                                    <div><iconify-icon icon="solar:cart-5-bold" width="20" height="20" aria-hidden="true"></iconify-icon></div>
                                    <p class="my-0 icon-text">
                                        {% if total > 0 %}
                                        €{{ total|floatformat:2|intcomma }}
                                        {% else %}
                                        €0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>
                        <!-- Account Dropdown -->
                        <li class="list-inline-item dropdown">
                            <a class="nav-link" href="#" id="user-options" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="dropdown-options text-center">
                                    {% if request.user.is_authenticated %}
                                    <div><iconify-icon icon="mdi:account-arrow-down" width="20" height="20" aria-hidden="true"></iconify-icon></div>
                                    <p class="my-0 icon-text">Account</p>
                                    {% else %}
                                    <div><iconify-icon icon="mdi:account-arrow-left" width="20" height="20" aria-hidden="true"></iconify-icon></div>
                                    <p class="my-0 icon-text">Log In</p>
                                    {% endif %}
                                </div>
                            </a>
                            <div class="dropdown-menu border-0 m-1 p-1" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                {% url 'add_product' as add_product_url %}
                                <a class="dropdown-item {% if request.path == add_product_url %}active{% endif %}" href="{{ add_product_url }}">Add Product</a>
                                {% url 'shop' as shop_url %}
                                <a class="dropdown-item {% if request.path == shop_url %}active{% endif %}" href="{{ shop_url }}">Manage Products</a>
                                {% url 'policies' as policies_url %}
                                <a class="dropdown-item {% if request.path == policies_url %}active{% endif %}" href="{{ policies_url }}">Manage Policies</a>
                                {% endif %}
                                {% url 'profile' as profile_url %}
                                <a class="dropdown-item {% if request.path == profile_url %}active{% endif %}" href="{{ profile_url }}">Orders and Address</a>
                                {% url 'account_logout' as logout_url %}
                                <a class="dropdown-item {% if request.path == logout_url %}active{% endif %}" aria-current="page" href="{{ logout_url }}">Logout</a>
                                {% else %}
                                {% url 'account_login' as login_url %}
                                <a class="dropdown-item {% if request.path == login_url %}active{% endif %}" aria-current="page" href="{{ login_url }}">Login/Register</a>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Search Bar -->
            <div class="col-12 d-flex justify-content-center align-items-center py-1">
                <form method="GET" action="{% url 'shop' %}" class="w-75 w-lg-50">
                    <div class="input-group">
                        <input type="text" class="form-control search-bar border-0 border-bottom rounded-0 p-0 m-0" name="q" placeholder="Search for a watch">
                        <button class="btn" type="submit" aria-label="Search">
                            <iconify-icon icon="mingcute:search-fill" width="20" height="20"></iconify-icon>
                        </button>
                    </div>
                </form>
            </div>
        </header>

        <!-- Django messages -->
        {% if messages %}
        <div class="message-container">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} mb-0 p-1 text-center">
                {{ message }}
                <button type="button" class="btn-close mx-1" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% block page_header %}{% endblock page_header %}

        <main>
            {% block content %}{% endblock content %}
        </main>

        <!-- Footer -->
        <footer class="container-fluid justify-content-between px-lg-5 mx-0 pt-2">
            <div class="row">
                <!-- Subscribe Form Mailchimp -->
                <div class="subscribe col-12 col-md-12 col-lg-4 order-lg-5 order-md-1 px-0 mt-0 d-flex justify-content-center justify-content-lg-start">
                    <div class="mc_embed_shell p-0 m-0">
                        <div id="mc_embed_signup">
                            <form action="https://herokuapp.us12.list-manage.com/subscribe/post?u=26681a6adf2fe9919c2154fdc&amp;id=199ad3a083&amp;f_id=001de0e0f0"
                                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate mt-0 mb-4 mx-0"
                                target="_blank">
                                <div id="mc_embed_signup_scroll" class="row">
                                    <h5 class="footer-heading mb-0">Subscribe:</h5>
                                    <div class="mc-field-group">
                                        <div class="d-flex align-items-center justify-content-center">
                                            <input type="email" name="EMAIL" class="required email me-2" id="mce-EMAIL" placeholder="Email*:" required="">
                                            <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-account py-1 mx-0"
                                                value="Submit">
                                        </div>
                                        <div id="mce-responses" class="clear foot px-0 mx-0">
                                            <div class="response" id="mce-error-response" style="display: none;"></div>
                                            <div class="col-12 response" id="mce-success-response"></div>
                                        </div>
                                    </div>
                                </div>
                                <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                    <input type="text" name="b_26681a6adf2fe9919c2154fdc_199ad3a083" tabindex="-1" value="">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Contact Details -->
                <div class="col-6 col-sm-3 col-lg-2 order-2 order-sm-3 order-lg-3 px-3 mb-2">
                    <h6 class="footer-heading">Contact Details:</h6>
                    <p class="footer-text p-0 m-0">01234567</p>
                    <p class="footer-text p-0 m-0"><a class="link" href="mailto:info@eternity.ie">info@eternity.ie</a></p>
                </div>

                <!-- Follow Us -->
                <div class="col-6 col-sm-3 col-lg-2 order-3 order-sm-4 order-lg-4 mb-4">
                    <h6 class="mb-0 footer-heading">Follow Us:</h6>
                    <div class="row">
                        <div class="d-flex align-items-start gap-4 gap-lg-5">
                            <!-- Instagram -->
                            <a href="https://www.instagram.com/eternity-watch-store/" target="_blank" 
                            rel="noopener" aria-label="Visit my Instagram page (opend in a new tab)">
                            <iconify-icon icon="bi:instagram"  style="color: #e4c58a" width="30" height="30"></iconify-icon>
                            </a>

                            <!-- Facebook -->
                            <a href="https://www.facebook.com/people/Eternity-Luxury-Watch-Store/61564422000153/" target="_blank"
                            rel="noopener" aria-label="Visit my Facebook page (opend in a new tab)">
                            <iconify-icon icon="entypo-social:facebook"  class="px-2" style="color: #e4c58a" width="30" height="30"></iconify-icon>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Footer Menu 1 -->
                <div class="col-6 col-sm-3 col-lg-2 order-4 order-sm-1 order-lg-1 px-3 mt-2 mt-sm-0 mt-md-0">
                    <ul class="navbar-nav footer-menu me-auto">
                        <li class="nav-item py-0">
                            <a class="nav-link py-0 footer-menu" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link py-0 footer-menu" aria-current="page" href="{% url 'shop' %}">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link py-0 footer-menu" href="{% url 'contact' %}">Get In Touch</a>
                        </li>
                    </ul>
                </div>

                <!-- Footer Menu 2 -->
                <div class="col-6 col-sm-3 col-lg-2 order-5 order-sm-2 order-lg-2 mt-2 mt-sm-0 mt-md-0">
                    <ul class="navbar-nav footer-menu me-auto pl-3">
                        <li class="nav-item">
                            <a class="nav-link py-0 footer-menu" href="{% url 'policies' %}#terms">Terms</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link py-0 footer-menu" href="{% url 'policies' %}#return-policy">Return Policy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link py-0 footer-menu" href="{% url 'policies' %}#privacy-policy">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
            <p class="fs-6 text-center my-2"><small>*This website is created for educational and training purposes only.</small></p>
        </footer>

        {% block postloadjs %}
            <!-- Mailchimp script -->
            <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
            <script type="text/javascript">
                (function($) {
                    window.fnames = new Array();
                    window.ftypes = new Array();
                    fnames[0] = 'EMAIL'; ftypes[0] = 'email';
                    fnames[1] = 'FNAME'; ftypes[1] = 'text';
                    fnames[2] = 'LNAME'; ftypes[2] = 'text';
                    fnames[3] = 'ADDRESS'; ftypes[3] = 'address';
                    fnames[4] = 'PHONE'; ftypes[4] = 'phone';
                    fnames[5] = 'BIRTHDAY'; ftypes[5] = 'birthday';
                    fnames[6] = 'COMPANY'; ftypes[6] = 'text';
                }(jQuery));
                var $mcj = jQuery.noConflict(true);
            </script>
        {% endblock postloadjs %}
    </body>
</html>
