{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>

        {% block meta %}
            <!-- Essential Meta Tags -->
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}

        {% block extra_meta %}
        {% endblock %}

        <!-- Meta Tags for Search Engine Optimization -->
        <meta name="description" content="Eternity Luxury Watch Store offers a curated selection
            of high-quality, affordable luxury watches. Shop from a range of timeless designs and brands,
            ensuring you find the perfect timepiece that suits your style and budget.">
        <meta name="keywords" content="luxury watches, affordable watches, Eternity, timepieces, watch store,
            high-quality watches, branded watches, elegant watches, online watch shopping, timeless designs">

        <!-- Browser Tab Title -->
        <title>Eternity | Luxury Watch Store {% block extra_title %}{% endblock %}</title>

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'images/favicons/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'images/favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
        <link rel="shortcut icon" href="{% static 'images/favicons/favicon.ico' %}">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="{% static 'images/favicons/browserconfig.xml' %}">
        <meta name="theme-color" content="#ffffff">

        
        {% block corecss %}
            <!-- Bootstrap CSS -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

            <!-- Google Fonts CSS -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Antic&family=Cormorant+Unicase:wght@300;400;500;600;700&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
            rel="stylesheet">
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}

        {% block extra_css %}
        {% endblock %}

        <!-- Meta Tags for Social Sharing -->
        <meta property="og:title" content="Eternity | Luxury Watch Store">
        <meta property="og:description" content="Eternity Luxury Watch Store offers a curated selection
            of high-quality, affordable luxury watches.">
        <meta property="og:image" content="{% static 'images/logo/logo.webp' %}">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
        <meta property="og:url" content="https://eternity-watch-store-1f855f4289ad.herokuapp.com/">
        <meta property="og:type" content="website">
        
        {% block corejs %}
            <!-- IconifyIcon web component -->
            <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

            <!-- JavaScript -->
            <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        {% endblock %}

        {% block extra_js %}
        {% endblock %}
        
    </head>
    <body>
        <!-- Header -->
        <header class="container-fluid sticky-top pt-2 pb-3">
            <div class="d-flex justify-content-between align-items-start">

                <!-- Menu Section-->
                <nav class="navbar navbar-expand-md mt-lg-1 px-3 px-lg-2 pb-0">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                    data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto pl-3">
                            <li class="nav-item">
                                <a class="nav-link menu {% if request.path == home_url %}active{% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link menu" href="#">Shop</a>
                            </li>
                        </ul>

                        <!-- Authentication messages -->
                        <div class="d-block d-md-none"> 
                            {% if user.is_authenticated %} 
                            <p class="fs-6 pt-1 pb-0 px-0 mb-0">You are logged in as {{ user }}</p> 
                            {% else %} 
                            <p class="fs-6 pt-1 pb-0 px-0 mb-0">You are not logged in</p> 
                            {% endif %} 
                        </div>
                    </div>
                </nav>

                <!-- Logo Section -->
                <div class="logo-container flex-column align-items-start my-0">
                    <div class="logo-container">
                        <a class="navbar-brand mx-3" href="{% url 'home' %}">
                            <img src="{% static 'images/logo/logo.webp' %}" 
                            alt="Eternity Logo" class="img-logo">
                        </a>
                    </div>
                    
                </div>

                <!-- Header Icons Section-->
                <div class="d-flex flex-column my-0">
                    <!-- Authentication messages -->
                    <div class="auth d-none d-md-block"> 
                        {% if user.is_authenticated %} 
                        <p class="auth text-end fs-6 my-0">You are logged in as {{ user }}</p> 
                        {% else %} 
                        <p class="auth text-end fs-6 my-0">You are not logged in</p> 
                        {% endif %} 
                    </div>
                    <ul class="header-icons d-flex flex-row mx-1"> 
                        <!-- Cart -->
                        <li class="list-inline-item">
                            <a class="nav-link {% if grand_total %}text-info fw-bold{% else %}text-dark{% endif %}" href="#">
                                <div class="text-center">
                                    <div><iconify-icon icon="solar:cart-5-bold" width="20" height="20"></iconify-icon></div>
                                    <p class="my-0 icon-text">
                                        {% if grand_total %}
                                            ${{ grand_total|floatformat:2 }}
                                        {% else %}
                                            $0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>

                        <!-- Account Dropdown -->
                        <li class="list-inline-item dropdown">
                            <a class="nav-link" href="#" id="user-options" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center">
                                    {% if request.user.is_authenticated %}
                                    <div><iconify-icon icon="mdi:account-arrow-down" width="20" height="20"></iconify-icon></div>
                                    <p class="my-0 icon-text">Account</p>
                                    {% else %}
                                    <div><iconify-icon icon="mdi:account-arrow-left" width="20" height="20"></iconify-icon></div>
                                    <p class="my-0 icon-text">Log In</p>
                                    {% endif %}
                                </div>
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <a href="#" class="dropdown-item">Manage Products</a>
                                    {% endif %}
                                    <a href="#" class="dropdown-item">Profile</a>
                                    <a href="#" class="dropdown-item">Logout</a>
                                {% else %}
                                    <a href="#" class="dropdown-item">Login/Register</a>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            
            <!-- Search Bar -->
            <div class="col-12 d-flex justify-content-center align-items-center py-1">
                <form method="GET" action="" class="w-75 w-lg-50">
                    <div class="input-group">
                        <input type="text" class="form-control search-bar border-0 border-bottom rounded-0 p-0 m-0" name="q" placeholder="Search for a watch">
                        <button class="btn rounded-0" type="submit">
                            <iconify-icon icon="mingcute:search-fill" width="20" height="20"></iconify-icon>
                        </button>
                    </div>
                </form>
            </div>
            
        </header>


        {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        
        {% block page_header %}
        {% endblock page_header %}
        
        <main>
            {% block content %}
            <!-- Content Goes here -->
            {% endblock content %}
        </main>

        <!-- Footer -->
        <footer class="container-fluid p-2 px-lg-5 mx-0">
            <div class="row subscribe">

                <!-- Subscribe Form -->
                <div class="col-12 col-md-12 col-lg-4 order-lg-5 order-md-1 px-3">
                    <h5 class="footer-heading">Subscribe form</h5>
                </div>

                <!-- Contact Details -->
                <div class="col-6 col-sm-3 col-lg-2 order-2 order-sm-3 order-lg-3 px-3 mb-2">
                    <h6 class="footer-heading">Contact Details:</h6>
                        <p class="p-0 m-0">01234567</p>
                        <p class="p-0 m-0">info@eternity.ie</p>
                </div>

                <!-- Follow Us -->
                <div class="col-6 col-sm-3 col-lg-2 order-3 order-sm-4 order-lg-4 mb-4">
                    <h6 class="mb-0 footer-heading">Follow Us:</h6>
                    <div class="row">
                        <div class="d-flex align-items-start gap-4 gap-lg-5">
                            
                            <!-- Instagram -->
                            <a href="https://www.instagram.com/barks-in-bubbles/" target="_blank" 
                            rel="noopener" aria-label="Visit my Instagram page (opend in a new tab)">
                            <iconify-icon icon="bi:instagram"  style="color: #e4c58a" width="30" height="30"></iconify-icon>
                            </a>

                            <!-- Facebook -->
                            <a href="https://www.facebook.com/barks-in-bubbles/" target="_blank" 
                            rel="noopener" aria-label="Visit my Facebook page (opend in a new tab)">
                            <iconify-icon icon="entypo-social:facebook"  style="color: #e4c58a" width="30" height="30"></iconify-icon>
                            </a>
                        </div>
                    </div>
                </div>
                
                
                <!-- Footer Menu 1 -->
                <div class="col-6 col-sm-3 col-lg-2 order-4 order-sm-1 order-lg-1 px-3 mt-2 mt-sm-0 mt-md-0">
                    <ul class="navbar-nav footer-menu me-auto">
                        <li class="nav-item py-0">
                            <a class="nav-link py-0 footer-menu {% if request.path == home_url %}active{% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link py-0 footer-menu" href="#">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link py-0 footer-menu" href="#">Get In Touch</a>
                        </li>
                    </ul>
                </div>

                <!-- Footer Menu 2 -->
                <div class="col-6 col-sm-3 col-lg-2 order-5 order-sm-2 order-lg-2 mt-2 mt-sm-0 mt-md-0">
                    <ul class="navbar-nav footer-menu me-auto pl-3">
                        <li class="nav-item">
                            <a class="nav-link py-0 footer-menu" href="#">Terms & Conditions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link py-0 footer-menu" href="#">Return Policy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link py-0 footer-menu" href="#">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>

        {% block postloadjs %}
        {% endblock postloadjs %}
    </body>

</html>
