{% extends "base.html" %}
{% load static %}

{% load humanize %}

{% block content %}
<div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 mb-3 py-2 py-lg-5 px-3">
    <div class="col-12">
        <a href="{% url 'shop' %}" class="btn btn-back-to-shop">
            <iconify-icon icon="typcn:arrow-back" style="color: #e4c58a" aria-hidden="true"></iconify-icon>
            Back to Shop
        </a>
    </div>
    <div class="row justify-content-between mx-2 mx-sm-5 px-0">
        
        <!-- Product name for small screens -->
        <div class="text-center my-3 py-1 d-md-none">
            <h1 class="product-page-name">{{ product.name }}</h1>
        </div>

        <!-- Product Image -->
        <div class="col-12 col-md-6 mb-3 mb-md-0 px-0">
            <div class="product-img-container d-flex justify-content-center align-items-center">
                {% if product.image %}
                    <a href="{{ product.image.url }}" target="_blank">
                        <img src="{{ product.image.url }}" class="product-img" alt="{{ product.name }}">
                    </a>
                {% else %}
                    <a href="">
                        <img src="{{ MEDIA_URL }}noimage.png" class="product-img" alt="{{ product.name }}">
                    </a>
                {% endif %}
            </div>
        </div>

        <!-- Product Details, Quantity & Button -->
        <div class="product-details col-12 col-md-6 px-0 px-md-3">
            <div class="d-none d-md-block text-center py-1">
                <h1 class="product-page-name mb-4 text-start">{{ product.name }}</h1>
            </div>
            <div class="product-details py-0">
                <p class="price text-center text-md-start m-0 py-0">€{{ product.price|intcomma }}</p>
                {% if product.rating %}
                    <p class="rating d-flex justify-content-center justify-content-md-start m-0 mt-3 py-0">
                        <iconify-icon icon="rivet-icons:star" style="color: #AA9159;" aria-hidden="true"></iconify-icon>
                        {% if product.rating|floatformat:"0" == product.rating|stringformat:"d" %}
                            {{ product.rating|floatformat:"0" }} / 5
                        {% else %}
                            {{ product.rating|floatformat:"1" }} / 5
                        {% endif %}
                    </p>
                {% else %}
                    <p class="rating text-center text-md-start">No Rating</p>
                {% endif %}
                <form class="form text-center text-md-start" action="{% url 'add_to_cart' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row align-items-center">
                        <div class="col-12">
                            <label for="id_qty_{{ product.id }}" class="quantity mt-3">Qty:</label>
                            <div class="d-flex justify-content-center justify-content-md-start text-center text-md-start mt-2">
                                <button class="decrement-qty btn px-1 mb-1" data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                    <iconify-icon icon="heroicons-outline:minus"  style="color: #e4c58a"></iconify-icon>
                                </button>
                                <input class="form-control qty_input text-center mx-2" type="number" name="quantity" value="1" min="1" max="10"
                                    data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                <button class="increment-qty btn px-1 mb-1" data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                    <iconify-icon icon="heroicons-outline:plus"  style="color: #e4c58a"></iconify-icon>
                                </button>
                            </div>
                        </div>
                        {% if product.availability %}
                            <div class="col-12 d-flex justify-content-center justify-content-md-between">
                                <button type="submit" class="btn btn-add text-uppercase mt-4">Add to Cart</button>
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        {% else %}
                            <!-- If product is not available, show an "Out of Stock" button -->
                            <div class="col-12 d-flex justify-content-center justify-content-md-between">
                                <button type="button" class="btn btn-add text-uppercase mt-4" disabled style="background-color: #ccc;">Out of Stock</button>
                            </div>
                        {% endif %}
                        {% if request.user.is_superuser %}
                            <div class="admin text-center text-md-start mt-4">
                                <a href="{% url 'edit_product' product.id %}" class="mx-1 update-link product-edit">Edit</a>
                                <a href="{% url 'delete_product' product.id %}" class="remove-item product-delete" data-product-id="{{ product.id }}" data-product-name="{{ product.name }}">Delete</a>
                            </div>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Product Description -->
    <div class="product-description mx-2 mx-sm-5 mt-4 mt-md-5">
        <p class="mb-0">{{ product.description|safe }}</p>
    </div>
</div>
<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete product?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">Are you sure you want to delete <strong id="productName"></strong> product? This action cannot be undone.</div>
            <div class="modal-footer">
                <a href="{% url 'cancel_action_product_page' product.id %}" class="btn btn-secondary">Close</a>
                <a id="deleteConfirm" href="#" class="btn btn-delete">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'shop/js/qty_input_script.js' %}"></script>
    <script>
        /**
         * Source: Code Institute: I Think Therefore I Blog walk through
         */
        const deleteModal = new bootstrap.Modal(document.getElementById("deleteModal"));
        const deleteButtons = document.getElementsByClassName("product-delete");
        const deleteConfirm = document.getElementById("deleteConfirm");
        const productNameElement = document.getElementById("productName");

        /**
         * Initializes deletion functionality for the delete buttons.
         * 
         * For each button in the `deleteButtons` collection:
         * - Adds a click event listener.
         * - Retrieves the associated product ID using the button's `product-id` attribute.
         * - Checks if the product ID exists:
         *   - If valid, updates the `deleteConfirm` href to the deletion endpoint
         *     for the specific product.
         *   - If no product ID is found, logs an error.
         * - Displays the confirmation modal (`deleteModal`) to prompt the user 
         *   for confirmation before proceeding with the deletion.
         */

        for (let button of deleteButtons) {
            button.addEventListener("click", (e) => {
                e.preventDefault();
                let productId = e.target.getAttribute("data-product-id");
                let productName = e.target.getAttribute("data-product-name");
                if (productId) {
                    deleteConfirm.href = `/shop/delete/${productId}/`;
                    // Set the product name in the modal
                    productNameElement.textContent = productName;
                    deleteModal.show();
                } else {
                    console.error('Product ID not found');
                }
            });
        }
    </script>
{% endblock %}
