{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container justify-content-between m-0 py-0 px-3 px-lg-4 px-xl-5">
        <div class="text-center mt-3">
            <h1>All Products</h1>
            {% include 'includes/shop_filters_and_sorting.html' %}
        </div>

        <div class="product-grid">
            {% for product in products %}
                <div class="product-card">
                    <div class="card py-3">
                        {% if product.image %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                        {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                            </a>
                        {% endif %}
                        <div class="card-body text-center py-1">
                            <p class="product-name mb-0">{{ product.name }}</p>
                        </div>
                        <div class="card-footer py-0">
                            <p class="m-0 py-0">€{{ product.price }}</p>
                            {% if product.rating %}
                                <p class="rating m-0 py-0">
                                    <iconify-icon icon="rivet-icons:star"  style="color: #AA9159"></iconify-icon>
                                    {{ product.rating }} / 5
                                </p>
                            {% else %}
                                <p class="rating">No Rating</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
