/* Import Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Antic&family=Cormorant+Unicase:wght@300;400;500;600;700&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

/* Basic styles */
body {
    background-color: #113227 !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Disable horizontal scrolling */
html, body {
    overflow-x: hidden !important;
}

/* H1 style */
h1 {
    font-family: "Cormorant Unicase", sans-serif !important;
    font-weight: 400;
    font-style: normal;
    font-size: 160% !important;
    color: #E4C58A !important;
}

/* H2-4 styles */
h2,
h3,
h4
 {
    font-family: "Antic", sans-serif !important;
    font-weight: 400;
    font-style: normal;
    font-size: 150% !important;
    color: #E4C58A;
}

/* H5-6 styles */
h5,
h6
 {
    font-family: "Antic", sans-serif !important;
    font-weight: 400;
    font-style: normal;
    font-size: 180% !important;
    color: #E4C58A;

 }

/* Paragraph style */
p {
    font-family: "Muli", sans-serif !important;
    font-weight: 400;
    font-style: normal;
    font-size: 120% !important;
    padding: 5px;
    color: #AA9159;
}

a {
    color: #FBFAF8 !important;
}

li a {
    color: #230903 !important;
}

/* Icons style */
iconify-icon {
    color: #E4C58A;
}

/* Style header */

header {
    /* Ensure the header stays above other content */
    z-index: 1000; 
    background-color: #113227; 
    border-bottom: 1px solid #AA9159;
}
/* Style header text */
header p {
    font-family: "Antic", sans-serif !important;
}

/* Style navbar text */

.nav-link {
    color: #E4C58A !important;
    font-size: 16px;
    font-family: "Cormorant Unicase", sans-serif !important;
}

.nav-link.active {
    color: #FBFAF8 !important;
    text-decoration: underline !important;
}

.nav-link:hover {
    text-decoration: underline !important;
}

/* Hover effect for all links */
.nav-link:hover {
    text-decoration: underline !important;
}

.auth-mob {
    font-size: 12px !important;
}

.dropdown-item {
    text-align: center;
}

.dropdown-item:hover {
    text-decoration: underline !important;
}

.header-icons .nav-link:hover {
    text-decoration-color: #E4C58A !important;
    text-decoration: none !important;
}

.dropdown-item.active {
    text-decoration: underline !important;
}

/* Style toggler hamburger icon. Source: Stackoverflow */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23E4C58A' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
    border-color: #E4C58A;
    border-width: 2px;
    padding: 3px;
    box-shadow: none !important;
    outline: none !important;
}

/* Ensure logo is always in the center of the header */
.logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-height: 100px;
}

p.icon-text {
    color: #E4C58A;
}

.cart {
    z-index: 999;
}

/* Style search bar */
.search-bar {
    background: #113227;
    caret-color: #E4C58A !important;
}

.search-bar::placeholder {
    font-style: italic !important;
}

.search-bar:focus {
    color: #e4c58a !important;
}

input.search-bar {
    border-bottom: 1px solid #E4C58A !important;
}

.alert-error {
    background-color: #FC7C73 !important;
    margin: 0 !important;
}

/* Style dropdown account menu */
.dropdown-menu,
.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:active,
.dropdown-item:visited {
    background-color: #AA9159 !important;
    color: #230903 !important;
}

.dropdown-item {
    text-align: center;
}

.dropdown-item:hover {
    text-decoration: underline;
}

.list-inline-item,
.dropdown,
.nav-link,
.dropdown-options,
.dropdown-toggle {
    box-shadow: none !important;
    outline: none !important;
}

/* Above fold style */
.above-fold {
    background: url('https://res.cloudinary.com/dmqcpnmy9/image/upload/v1727478386/wrsmopcdpebj1i1osds8.webp');
    background-size: cover;
    background-position: center top;
    height: 400px;
}

.home-h1 {
    color: #FBFAF8 !important;
    font-size: 200% !important;
    font-weight: 500;
}

/* Add h1 text outline. Source: Kinsta*/
.text-outline {
    text-shadow: 
        -1px -1px 0 #230903,
         1px -1px 0 #230903,
        -1px  1px 0 #230903,
         1px  1px 0 #230903;
}

/* Home page style */
.about-us {
    color:#E4C58A !important;
    text-align: justify !important;
}

.home {
    color: #E4C58A !important;
    font-weight: 200;
}
.values {
    color: #E4C58A !important;
    font-weight: 150;
    font-family: "Muli", sans-serif !important;
}

.home-bottom-image {
    background: url('https://res.cloudinary.com/dmqcpnmy9/image/upload/v1727478332/b5sbv3xpw0riv8xtnpvx.webp');
    background-size: cover;
    background-position: center center;
    height: 350px;
}

/* Style buttons */
.btn-explore, 
.btn-account,
.btn-add,
.btn-profile {
    background-color: #e4c58a !important;
    color: #230903 !important;
    width: 100px !important;
    min-height: 20px !important;
    font-family: "Cormorant Unicase", sans-serif !important;
    outline: 1px solid #230903 !important;
    font-weight: 600 !important;
}

.btn-cart {
    background-color: #230903 !important;
    color: #e4c58a !important;
    border: 1px solid #E4C58A !important;
    font-family: "Cormorant Unicase", sans-serif !important;
    font-size: 95%;
    font-weight: 800 !important;
    outline: 1px solid #230903 !important;
    width: 170px !important;
    min-height: 30px !important;
    margin: 15px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase !important;
}

.btn-cart iconify-icon {
    vertical-align: middle !important;
    margin-right: 15px;
    margin-bottom: 7px;
}

.btn-account {
    font-size: 100% !important;
}

.btn-explore {
    font-size: 120% !important;
}

.btn-reset {
    width: 170px !important;
    height: 40px !important;
}

.btn-add {
    width: 150px !important;
}

.btn-profile {
    width: 180px !important;
}

.btn-explore:hover,
.btn-account:hover,
.btn-account:focus,
.btn-account:after,
.btn-add:hover,
.btn-cart:hover,
.btn-profile:hover,
.password-reset:visited,
.password-reset:active {
    background-color: #230903 !important;
    color: #e4c58a !important;
    border: 1px solid #e4c58a !important;
}

.btn-account:visited,
.btn-account:disabled,
.btn-account:focus-visible {
    background-color: #e4c58a !important;
    color: #230903 !important;
}

.btn-explore:active,
.btn-account:active,
.btn-add:active,
.btn-cart:active,
.btn-profile:active {
    border: 2px solid #aa9159 !important;
    background-color: #230903 !important;
    color: #e4c58a !important;
}

.btn:active,
.btn:focus {
    border: none !important;
}

/* Style forms */

label {
    color: #AA9159;
}

input,
select,
textarea {
    font-size: 100% !important;
    background-color: #113227 !important;
    color: #E4C58A !important;
    border-radius: 5px !important;
    border-color: #E4C58A !important;
    width: 250px !important;
}

input::placeholder {
    color: #E4C58A !important;
    font-weight: 400 !important;
}

/* Override background color in forms when autifilled in browser. Source: CSS Tricks */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background-color: #113227 !important;
    color: #E4C58A !important;
    -webkit-box-shadow: 0 0 0 30px #113227 inset !important;
    -webkit-text-fill-color: #E4C58A !important;
    transition: background-color 5000s ease-in-out 0s !important;
    caret-color: #AA9159 !important;
}

input[type="checkbox"] {
    width: 20px !important;
}

/* Checkbox styling. Source: Ben Nadel.com */
#id_remember {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 15px !important;
    height: 15px !important;
    border: 1px solid #e4c58a; 
    background-color: #113227;
    cursor: pointer;
    position: relative;
}

/* Checked state styling with a tick mark */
#id_remember:checked {
    background-color: #e4c58a !important;
    border-color: #230903;
}

/* Add a tick mark using ::after. Source: W3 Schools */
#id_remember:checked::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 4px;
    width: 5px;
    height: 7px;
    border: solid #230903;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* Remove box shadow and outline from all input, textarea, and select elements */
input, 
textarea, 
select,
.form-control,
.list-inline-item {
    box-shadow: none !important;
    outline: none !important;
}

/* Remove box shadow and outline when the element is focused */
input:focus, 
textarea:focus, 
select:focus, 
.form-control:focus {
    background-color: #113227 !important;
    box-shadow: none !important;
    outline: none !important;
    font-weight: 400 !important;
}

/*  Remove box shadow and outline for specific input types */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"] {
    box-shadow: none !important;
    outline: none !important;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="search"]:focus {
    box-shadow: none !important;
    outline: none !important;
}

/* Style Sign Up and Login forms */
.signup ul {
    text-align: center;
    margin-bottom: 0px;
}

.signup p {
    margin-bottom: 16px;
    padding: 5px;
}

.signup label {
    width: 180px;
}

.signup input {
    width: 300px !important;
}

/* Style Error List */
.signup li {
    list-style: inside;
    color: #FBFAF8;
    font-size: 90%;
    text-align: center !important;
}

ul.errorlist li {
    color: #FC7C73 !important;
    list-style: inside;
}

.signup a {
    color: #FBFAF8 !important;
}

/* Style Links */
.link,
.link:hover,
.link:focus,
.link:active,
.link:visited {
    color: #fbfaf8ff;
}

.link:hover {
    text-decoration: underline;
}

.password-reset {
    background-color: #113227 !important;
    width: 160px !important;
    color: #FBFAF8 !important;
    outline-color: #113227 !important;
}

.password-reset:hover {
    width: 160px !important;
    color: #FBFAF8 !important;
    outline-color: #E4C58A !important;
}

/* Style Shop page */

.container {
    max-width: 100%;
    margin: 10px;
}

.product-grid {
    display: grid;
    gap: 20px;
    margin: 20px 0;
}

/* Set 1 product per row. Source: MDN Web Docs */
.product-grid {
    grid-template-columns: 1fr;
}

/* Style filters menu on hover */
.filters-menu .nav-link:hover {
    text-decoration: none !important;
}

.card, .card-footer {
    background-color: #113227 !important;
}

.card {
    border-color: #e4c58a;
}

.card-body {
    height: 85px;
    /* Limit product name to 3 lines. Source: MDN Web Docs */
    -webkit-line-clamp: 3;
}

.card-body, .card-footer {
    font-size: 85% !important;
}

.product-name,
.admin {
    font-weight: 300 !important;
    color: #e4c58a;

}

.card-footer {
    border-color: #113227;
}

.rating iconify-icon,
.btn-back-to-shop iconify-icon {
    vertical-align: middle !important;
    margin-right: 15px;
}

.rating,
.btn-back-to-shop {
    /* Ensure the icon and text share the same line height */
    line-height: 1; 
    display: inline-flex;
}

/* Style Shop page filers and sorting */
.category-menu .nav-link,
.sort-menu .nav-link {
    font-size: 90% !important;
    font-family: "Antic", sans-serif !important;
    background-color: #230903;
    color: #FBFAF8 !important;
}

.products-count {
    font-size: 90% !important;
    font-family: "Antic", sans-serif !important;
    background-color: #113227;
}

/* Style Filters */
.nav-item.dropdown {
    border: 1px solid #AA9159;
    border-radius: 4px;
}

#reset {
    color: #AA9159 !important;
}

.filters-menu .nav-link#reset {
    font-weight: bold !important; 
}

/* Center filters dropdowns */
.filters-menu .dropdown-menu {
    margin-top: 10px !important; 
}

.category-menu .dropdown-menu {
    min-width: 150px !important;
    font-size: 14px !important;
}

.sort-select-wrapper select {
    border: none !important;
}

.modal-header,
.modal-body,
.modal-footer {
    background-color: #FBFAF8;
}

.modal-title {
    color: #113227 !important;
}

.btn-secondary {
    color: #230903 !important;
    background-color: #AA9159 !important;
}

#deleteConfirm {
    color: #FBFAF8 !important;
    background-color: #113227 !important;
}

/* Style Product page */
.product-page-name {
    font-size: 150% !important;
    font-weight: 300 !important;
}

.product-details > p,
.product-details > .rating,
.product-details iconify-icon,
.btn-back-to-shop {
    color: #E4C58A !important;
    font-weight: 100 !important;
}

.product-description {
    text-align: justify !important;
}

.product-description > p {
    font-weight: 300 !important;
}

.product-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.product-img {
    height: 350px !important;
    width: auto;
    max-width: 100%;
    object-fit: cover;
}

.increment-qty:disabled {
    border: none !important;
    opacity: 30%;
}

/* Quantity form */

input[id^="id_qty_"] {
    width: 70px !important;
}

.product-details .form-control {
    border: 1px solid #E4C58A !important;
}

.product-details .form-control:focus {
    border-color: #AA9159 !important;
    outline: none;
    box-shadow: 0 0 5px #AA9159 !important;
}

.quantity {
    color: #E4C58A !important;
    font-weight: 200;
}

/* Hide default arrows in input[type="number"] fields Sources: CSS-Tricks and Stack Overflow */

/* Chrome, Safari, Edge, Opera, Brave, and other WebKit/Blink-based browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Microsoft Edge Legacy (EdgeHTML Engine) */
input[type="number"]::-ms-inner-spin-button,
input[type="number"]::-ms-outer-spin-button {
    display: none;
}

/* Remove focus outline from increment and decrement buttons */
.increment-qty:focus,
.decrement-qty:focus {
    outline: none !important;
}

/* Style Cart Page */
.table {
    --bs-table-bg: #113227 !important;
    --bs-table-color: #E4C58A !important;
}

.table td {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    border-bottom: transparent !important;
}

.table th {
    border-bottom: transparent !important;
}

/* Ensure images vertically aligned in the center */
.img-col {
    vertical-align: middle;
}

/* Center the image within its container and set minimum size */
.cart-img {
    min-width: 80px;
    min-height: auto;
    width: 200px;
    height: auto;
    object-fit: cover;
}

.update-link,
.remove-item {
    cursor: pointer;
    color: #E4C58A !important;
    font-family: "Muli", sans-serif !important;
}

.decrement-qty {
    --bs-btn-disabled-border-color: #113227 !important;
}

/* Wrap text in cart table */
.table td {
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/* Style Checkout and Profile Pages */

.text-info {
    color: #FBFAF8 !important;
}

input {
    caret-color: #E4C58A !important;
}

select,
select option {
    color: #e4c58a !important;
}

select:invalid,
select option[value=""],
input[type="radio"] + label,
input[type="checkbox"] + label,
#card-element {
    color: #AA9159!important;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
    font-weight: 400;
    font-size: 100%;
}

input[type="radio"] {
    accent-color: #AA9159 !important;
}

label[for^="addon"] {
    pointer-events: none;
}

.stripe-style-input,
.profile-form-input {
    border: 1px solid #aa9159 !important;
    font-weight: 400 !important;
}

#payment-form input:focus {
    font-weight: 400 !important;
}

.stripe-style-input::placeholder,
.profile-form-input::placeholder {
    color: #aa9159 !important;
}

hr {
    color: #AA9159 !important;
}

.form-check-label {
    font-size: 90% !important;
    font-weight: 200 !important;
}

.StripeElement {
    height: 40px;
    padding: 6px 12px;
    border: 1px solid #aa9159 !important;
    border-radius: 0.375rem;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    color: #AA9159!important;
    font-weight: 100 !important;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active,
.profile-form-input:focus,
.profile-form-input:active {
    box-shadow: 0 1px 3px 0 #E4C58A !important;
    color: #AA9159!important;
    font-weight: 100 !important;
}

.StripeElement--webkit-autofill {
    background-color: #113227 !important;
    color: #E4C58A !important;
    -webkit-box-shadow: 0 0 0 30px #113227 inset !important;
    -webkit-text-fill-color: #E4C58A !important;
    transition: background-color 5000s ease-in-out 0s; 
}

/* Style Error Messages */
.text-danger {
    color: #FC7C73 !important;
}

.invalid-feedback{
    text-align: center !important;
    font-family: "Muli", sans-serif !important;
    font-weight: 200;
    font-size: 16px !important;
    color: #FC7C73 !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #230903;
    opacity: 0.9;
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

/* Style select dropdown for countries. Source: CSS Tricks */
.select-container {
    position: relative;
}

.select-container select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select-container::after {
    content: '▼'; 
    color: #AA9159;
    position: absolute;
    right: 10px;
    top: 35%;
    transform: translateY(-50%);
    /* Ensure it doesn't block clicks */
    pointer-events: none;
}

/* Style countries dropdown autofill */

#id_country:-webkit-autofill {
    background-color: #113227 !important;
    color: #E4C58A !important;
    -webkit-box-shadow: 0 0 0px 1000px #113227 inset !important;
    -webkit-text-fill-color: #E4C58A !important;
}

/* Ensure background color for the dropdown select */
select[name="country"] {
    background-color: #113227 !important;
    color: #E4C58A !important;
}

/* Style Thank you page */

.order-confirmation-wrapper {
    border-color: #E4C58A !important;
}

/* Style Profile page */

.order-history {
    /* height of profile form + submit button */
    max-height: 416px;
    overflow-y: auto;
}

.table-orders-history {
    color: #AA9159 !important;
}

.table-orders-history th,
.table-orders-history td {
    min-width: 50px;
    text-align: center;
}

.table-orders-history th {
    font-size: 14px !important;
}

.table-orders-history td {
    font-size: 12px !important;
}

.table-orders-history a {
    color: #AA9159 !important;
}

ul.list-unstyled {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0;
    margin: 0;
}

/* Style Admin Pages */
#add-product-form input, 
#edit-policy-form input,
#add-product-form select, 
#edit-policy-form select,
#add-product-form textarea, 
#edit-policy-form textarea {
    width: 100% !important;
    max-width: 800px !important;
    margin: 0 auto !important;
    font-family: "Muli", sans-serif !important;
    font-weight: 400;
    font-size: 16px !important;
    color: #AA9159 !important;
}

#add-product-form,
#edit-policy-form {
    text-align: center !important;
}

#id_category_1,
#id_category_2 {
    height: 38px !important;
}

[id^="id_"][id$="_helptext"] {
    color: #AA9159 !important;
    font-style: italic;
    font-size: 12px;
}

[id^="div_id_"] {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}

/* Flexbox layout for checkbox and label */
#div_id_availability,
#div_id_featured_product {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 10px 0 !important;
}

#div_id_availability .form-check-label,
#div_id_featured_product .form-check-label {
    font-family: "Muli", sans-serif !important;
    font-weight: 400;
    font-size: 16px !important;
    color: #AA9159;
}

#add-product-form .checkboxinput {
    width: 15px !important;
    margin: 0px 5px !important;
}

.product-edit,
.product-delete {
    color: #FBFAF8 !important;
}

/* Manage products page */

.product-card-manage {
    width: 100%;
    height: 300px;
    border-radius: 8px;
}

.product-card-manage img.small-img {
    height: 100px;
    object-fit: contain;
}

.product-card-manage .product-name {
    font-size: 0.6rem;
    font-weight: 300;
}

.product-card-manage .admin-actions {
    font-size: 1rem;
    color: #FBFAF8 !important;
}

/* Style Contact page */

.contact-form input,
.contact-form textarea {
    width: 240px !important;
}

.contact-bottom-image {
    background: url('https://res.cloudinary.com/dmqcpnmy9/image/upload/v1727478348/dkiakzrdkqhvenuhzdpg.webp');
    background-size: cover;
    background-position: center center;
    height:400px;
}

/* Style footer */
footer {
    border-top: 1px solid #E4C58A;
}

.footer-menu {
    font-family: "Antic", sans-serif !important;
}

.footer-text, 
.footer-text a {
    color: #E4C58A !important;
    font-family: "Antic", sans-serif !important;
    text-decoration: none;
}

.footer-menu, 
.footer-text {
font-size: 100% !important;
}

.footer-heading {
    font-size: 16px !important;
    text-decoration: none !important;
    color: #E4C58A !important;
}

/* Mailchimp style */

#mc_embed_signup {
    font: 14px Muli, sans-serif;
    width: 200px;
    color: #E4C58A;
    font-weight: 200 !important;
}

#mc_embed_signup .mc-field-group input {
    height: 33px !important;
}

/* Ensure form container has enough width */
.mc_embed_shell {
    width: 100%;
    max-width: 245px;
    margin: 0 auto;
}

#mce-EMAIL {
    width: 180px !important;
}

#mc-embedded-subscribe {
    width: 65px !important;
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error,
.response {
    background-color: #113227;
    color: #FC7C73;
    font-weight: 300 !important;
}

#mc_embed_signup #mce-success-response {
    display: contents;
    color: #FBFAF8;
    font-weight: 100 !important;
}

#mc_embed_signup #mce-responses {
    margin-top: 5px !important;
    text-align: start !important;
}

/* Media query: mobile phones (270px and up) */
@media screen and (min-width: 270px) {
    /* H1 style */
    h1 {
        font-size: 190% !important;
    }

    /* H2-4 styles */
    h2,
    h3,
    h4
    {
        font-size: 160% !important;
    }

    /* H5-6 styles */
    h5,
    h6
    {
        font-size: 110% !important;
    }
    
    /* Paragraph style */
    p {
        font-size: 16px !important;
    }
    
    /* Header style */
    header {
        padding: 5px !important;
    }

    /* Navbar style */
    .navbar {
        padding: 0px !important;
    }

    /* Style logo */
    .img-logo {
        width: 100px;
        height: auto;
    }
    
    /* Icons style */
    iconify-icon {
        width: 10px;
        height: 10px;
    }

    .header-icons {
        margin: 0px !important;
    }

    p.icon-text {
        font-size: 60% !important;
    }
    
    .search-bar {
        width: 50px !important;
    }
    /* Above Fold Style */
    .home-h1 {
        margin-right: 0px;
        margin-left: 0px;
    }

    .btn-explore {
        margin-left: 0px;
    }

    /* Style Shop page */
    .card-body, .card-footer {
        font-size: 16px !important;
    }
    
    /* Style Cart table */
    .table {
        font-size: 13px;
    }

    .table .product-name-wrap {
        max-width: 190px;
    }

    /* Remove border on the table sells that are hidden on mobile */
    .table .d-none.d-sm-block {
        border: none !important;
    }

    table tr {
        border: none !important;
        border-bottom: none !important;
    }    

    /* Style Checkout Page */
    #id-country,
    .profile-form-input {
        width: 250px !important;
        height: 35px !important;
    }

    .StripeElement,
    #payment-form input,
    .stripe-style-input {
        width: 270px !important;
    }

    #payment-form input[type="radio"] {
        width: 25px !important;
        height: 20px !important;
    }

    #payment-form #id-save-info,
    #payment-form #addon1,
    #payment-form #addon2 {
        width: 20px !important;
        height: 20px !important;
    }

    /* Style Thank you page */
    .order-summary p,
    .thank-you p {
        font-size: 14px !important;
    }
    
    /* Style Profile page */
    .table-orders-history, th, td, tr {
        font-size: 14px !important;
        font-weight: 200 !important;
        padding: 5px !important;
    }
}

/* Media query: mobile phones (390px and up) */
@media screen and (min-width: 390px) {
    /* H1 style */
    h1 {
        font-size: 210% !important;
    }

    /* H2-4 styles */
    h2,
    h3,
    h4
    {
        font-size: 170% !important;
    }

    /* H5-6 styles */
    h5,
    h6
    {
        font-size: 120% !important;
    }
    
    /* Paragraph style */
    p {
        font-size: 18px !important;
    }

    /* Style logo */
    .img-logo {
        width: 120px;
    }
    
    /* Navbar toggler size */
    .navbar-toggler {
        height: 50px !important;
        width: 50px !important;
    }

    .auth-mob {
        font-size: 14px !important;
    }

    p.icon-text {
        font-size: 80% !important;
    }
    
    .search-bar {
        width: 60px !important;
    }

    /* Style Shop page */
    .card-body, .card-footer {
        font-size: 17px !important;
    }

    #brand,
    #gender,
    #sort,
    #reset {
        width: 90px !important;
    }
    
    /* Style Cart table */
    .table {
        font-size: 14px;
    }
}

/* Media query: tablets and larger screens (576px and up) */
@media screen and (min-width: 576px) {
    /* H1 style */
    h1 {
        font-size: 230% !important;
    }

    /* H2-4 styles */
    h2,
    h3,
    h4
    {
        font-size: 170% !important;
    }

    /* H5-6 styles */
    h5,
    h6
    {
        font-size: 130% !important;
    }
    
    /* Paragraph style */
    p, table th {
        font-size: 120% !important;
    }
    
    /* Header style */
    header {
        padding: 10px !important;
    }

    /* Navbar style */
    .navbar-toggler {
        padding: 7px;
        margin: 5px;
    }

    /* Style logo */
    .img-logo {
        width: 150px;
    }
    
    /* Style header icons */
    .header-icons {
        margin: 5px !important;
    }

    p.icon-text {
        font-size: 100% !important;
    }
    
    /* Above Fold Style */
    .above-fold {
        height: 500px;
    }

    .home-h1 {
        margin-left: 10px;
        font-size: 250% !important;
    }

    .btn-explore {
        margin-left: 10px;
    }

    .form-control {
        width: 250px !important;
    }

    .form-control .qty_input {
        width: 60px !important;
    }

    /* Style Forms */
    label {
        font-size: 100% !important;
    }

    input,
    select,
    textarea {
        font-size: 90% !important;
        width: 280px;
    }
    
    /* Style Shop page */
    .card-body, .card-footer {
        font-size: 85% !important;
    }

    /* Style Shop page filers and sorting */
    .category-menu,
    .products-count {
        font-size: 100% !important;
    }

    #brand,
    #gender,
    #sort,
    #reset {
        width: 100px !important;
    }

    /* Center filters dropdowns */
    .filters-menu .dropdown-menu {
        left: 50% !important;
        transform: translateX(-50%) !important;
        top: 100% !important;
        margin-top: 10px !important;
        min-width: 180px !important;
        font-size: 16px !important;
    }

    /* 2 products per row */
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    /* Cart Page */
    .btn-cart {
        font-size: 100%;
    }

    .table .product-name-wrap {
        max-width: 250px;
    }

    /* Style Checkout Page */
    #payment-form input,
    .StripeElement,
    .stripe-style-input,
    #id-country,
    .profile-form-input {
        width: 300px !important;
    }

    #payment-form input[type="radio"] {
        width: 25px !important;
    }

    /* Style Profile Page */
    .table-orders-history th,
    .table-orders-history td {
        min-width: 100px;
    }

    .table-orders-history th {
        font-size: 16px !important;
    }
    
    .table-orders-history td {
        font-size: 14px !important;
    }

    /* Style Thank you page */
    .order-summary p,
    .thank-you p {
        font-size: 120% !important;
    }

    /* Style Contact page */
    .contact-form input,
    .contact-form textarea {
        width: 340px !important;
    }

    /* Style Subscribe form */
    .mc_embed_shell {
        max-width: 315px;
    }
    
    #mce-EMAIL {
        width: 250px !important;
    }
}   

/* Media query: larger devices (laptops & desktops, 768px and up) */
@media screen and (min-width: 768px) {
    /* Style logo */
    .img-logo {
        width: 170px;
    }

    /* Home page style */
    .values {
        font-size: 110%;
    }

    .menu {
        font-size: 20px !important;
    }
    
    /* Style Product page */
    .product-page-name {
        font-size: 200% !important;
    }

    /* Style Shop page filers and sorting */
    .category-menu .nav-link,
    .sort-menu .nav-link,
    .products-count,
    .admin {
        font-size: 110% !important;
    }

    #brand, #gender, #sort, #reset {
        width: 120px !important;
    }

    /* Style Cart page */
    .table .product-name-wrap {
        max-width: 350px;
    }

    /* Style Profile Page */
    .table-orders-history th,
    .table-orders-history td {
        min-width: 150px;
    }

    /* Style Contact page */
    .contact-form input,
    .contact-form textarea {
        width: 500px !important;
    }
}

/* Media query: larger devices (laptops & desktops, 992px and up) */
@media screen and (min-width: 992px) {
    /* H1 style */
    h1 {
        font-size: 250% !important;
    }

    /* H2-4 styles */
    h2,
    h3,
    h4
    {
        font-size: 200% !important;
    }

    /* H5-6 styles */
    h5,
    h6
    {
        font-size: 140% !important;
    }
    
    /* Paragraph style */
    p {
        font-size: 130% !important;
    }

    /* Header style */
    header {
        padding: 15px !important;
    }

    /* Nav links style */
    .menu {
        font-size: 24px !important;
    }

    /* Style logo */
    .img-logo {
        width: 200px !important;
    }

    /* Style header icons */
    p.icon-text {
        font-size: 80% !important;
    }

    /* Above Fold Style */
    .above-fold {
        height: 700px;
    }

    .home-h1 {
        margin-right: 48px;
        margin-left: 48px;
        margin-top: 30px !important;
        font-size: 320% !important;
    }

    .btn-explore {
        margin-left: 48px;
        margin-top: 30px;
        font-size: 150% !important;
        width: 120px !important;
    }

    /* Home page style */
    .values {
        font-size: 120%;
    }

    /* Style Forms */
    input {
        width: 250px;
    }

    /* Style Shop page. 4 products per row */
    .product-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    /* Style Cart page */
    .table .product-name-wrap {
        max-width: 500px;
    }

    /* Style Profile page */
    .table-orders-history th,
    .table-orders-history td {
        min-width: 185px;
    }
    .table-orders-history, td, tr {
        font-size: 16px !important;
    }

    /* Style Contact page */
    .contact-form input,
    .contact-form textarea {
        width: 700px !important;
    }

    /* Style Subscribe form */
    .subscribe {
        justify-content: flex-start !important;
    }

    .contact-bottom-image {
        height:500px;
    }
}

/* Media query: larger screens (1400px and up) */
@media screen and (min-width: 1400px) {

    /* Style Subscribe form */
    #mce-EMAIL {
        width: 300px !important;
    }

    /* Style Profile Page */
    .table-orders-history th,
    .table-orders-history td {
        min-width: 250px;
    }
}