{% extends 'base.html' %}
{% block extra_meta %}
    <meta name="description" content="Review Eternity's policies for a smooth shopping experience.
    Explore our luxury watch store's guidelines on returns, exchanges, and online watch sales for
    affordable and high-quality timepieces.">
{% endblock %}
{% block extra_title %}| Store Policies{% endblock %}

{% block content %}
<div class="mx-2 mx-md-5">
    <h1 class="text-center">Store Policies</h1>
    <ul class="px-0">
        {% for policy in policies %}
            <li id="{% if policy.title == 'Terms and Conditions' %}terms-and-conditions{% elif policy.title == 'Return Policy' %}return-policy{% elif policy.title == 'Privacy Policy' %}privacy-policy{% else %}{{ policy.title|slugify }}{% endif %}">
                <h2 class="text-center">{{ policy.title }}</h2>
                {% if user.is_superuser %}
                    <div class="d-flex justify-content-center mt-4">
                        <a href="{% url 'edit_policy' policy.pk %}" class="btn btn-profile">Edit</a>
                    </div>
                {% endif %}
                {{ policy.content|linebreaks }}
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}